<html>

<head>
    <title>IR Search App</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="../static/js/index.js"></script>
</head>

<body>
    <div class="fixed-header">
        <form action="/search" method="get" class="search-container">
            <input name="query" class="search-box" {% if results %} value="{{results.detail.query}}" {% endif %}/>
            <button id="btn_search"></button>
        </form>

        {% if results %}
        <div class="search-detail">
            Search detail: <br>
            <span>Query: </span><span class="detail-value">{{results.detail.query}}</span><br>
            <span>Total: </span><span class="detail-value">{{results.detail.total}}</span><br>
            <span>Took: </span><span class="detail-value">{{results.detail.took}} ms</span><br>
        </div>
        {% endif %}
    </div>

    <div class="result">
        {% for hit in results.hits %}
        <div class="box">
            <b>{{hit["_source"]['name']}}</b><br>
            {{hit}}
        </div>
        {% endfor %}
    </div>
</body>

</html>